:root {
  color-scheme: dark light;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 60ch;
  max-width: 60ch;
  font-size: 100%;
  font-family: system-ui, sans-serif;
}

h1 {
  color: cornflowerblue;
}

h2 {
  color: steelblue;
  display: inline;
}

details {
  margin-block-end: 3rem;
}

a {
  color: red;
}

.anchor {
  text-decoration: none;
  margin-inline-start: 0.5rem;
}

input {
  width: 40ch;
}

input,
button,
label,
select {
  font-size: inherit;
}

code {
  font-family: ui-monospace, monospace;
}

td,
th {
  outline: solid 1px CanvasText;
  outline-offset: -1px;
  padding: 0.25rem;
}

th {
  text-align: left;
}

.number {
  font-variant-numeric: tabular-nums;
}
